body {
    background-color: white;
    font-family: 'Shadows Into Light', cursive; 
    text-shadow: 4px 4px 4px #aaa;
    font-size: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


p {
    color: white;
    font-style: italic;
    font-family: 'Dekko';font-size: 16px;
    text-align: center;
}

#guess {
    background-color:;
    border: 10px solid white;
    border-width: thin;
    margin: 10px;
}